services:
  web:
    environment:
      - PHP_IDE_CONFIG=serverName=gsp.ddev.site
      - MAGENTO_RUN_MODE=developer
  redis:
    image: redis:7.2-alpine
    container_name: ddev-${DDEV_SITENAME}-redis
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "6379"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}
  opensearch:
    image: markoshust/magento-opensearch:2.5
    container_name: ddev-${DDEV_SITENAME}-opensearch
    restart: unless-stopped
    environment:
      - discovery.type=single-node
      - cluster.routing.allocation.disk.threshold_enabled=false
      - OPENSEARCH_JAVA_OPTS=-Xms200m -Xmx200m
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    ports:
      - "9200"
      - "9300"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}
  rabbitmq:
    image: markoshust/magento-rabbitmq:3.13-0
    container_name: ddev-${DDEV_SITENAME}-rabbitmq
    restart: unless-stopped
    environment:
      - RABBITMQ_DEFAULT_USER=magento
      - RABBITMQ_DEFAULT_PASS=magento
      - RABBITMQ_DEFAULT_VHOST=/
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "5672"
      - "15672"
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}

volumes:
  redis_data:
    name: ddev-${DDEV_SITENAME}-redis-data
  opensearch_data:
    name: ddev-${DDEV_SITENAME}-opensearch-data
  rabbitmq_data:
    name: ddev-${DDEV_SITENAME}-rabbitmq-data

